body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
body .container{
    height: 80vh;
    width: 45vw;
    display: flex;
    align-self: center;
    flex-direction: column;
}
.container .row{
    /* border: 1px black solid; */
    width: 100%;
    height: 30%;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.row .card{
    border: solid white 1px;
    padding-left: 0px;
    padding-right: 0px;
    flex: 1;
    
}
.header{
    margin-left: -15px;
}
.back{
    background-image:url("../images/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.card img{
    width: 90%;
    height: 90%;
}
.menu{
    height: 10%;
    display: flex;
    justify-content: space-between;
    
}
button{
    
}
.menu div{
    display: inline-block;
}
@media only screen and (max-width: 600px) {
    .card img {
        width: 80%;
        height: 50%;
    }
    
  }