body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
body .container{
    /* display: flex; */
    height: 80vh;
    width: 50vw;
}
.row{
    border: 1px black solid;
    width: 100%;
    height: 25%;
}
.card{
    border: solid black 1px;
}
.header{
    margin-left: -15px;
}