body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
body .container{
    /* display: flex; */
    height: 80vh;
    width: 50vw;
}
.row{
    border: 1px black solid;
    width: 100%;
    height: 25%;
}
.row .card{
    border: solid black 1px;
    padding-left: 0px;
    padding-right: 0px;
}
.header{
    margin-left: -15px;
}
.back{
    background-image:url("../images/back.jpg");
    /* background-image:url("../images/king1.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    
}
.card img{
    width: 100%;
    height: 100%;
}